<launch>
    <node name="tinker_voice_recognize" pkg="tinker_voice_recognize" type="recognizer.py" output="screen">
        <param name="hmm" value="$(find tinker_knowledge)/model/en-us/en-us" type="string"/>
        <param name="lm" value="$(find tinker_knowledge)/model/stage-1.lm" type="string"/>
        <param name="dict" value="$(find tinker_knowledge)/model/stage-1.dic" type="string"/>
        <param name="fsg" value="$(find tinker_voice_recognize)/model/en-us/stage-1.fsg" type="string"/>
    </node>
</launch>
